.DS_Store
grammar/.antlr
grammar/*.class
grammar/*.java
grammar/*.interp
grammar/*.tokens
svgrammar/.antlr
svgrammar/*.class
svgrammar/*.java
svgrammar/*.interp
svgrammar/*.tokens
output/

!svgrammar/SVProcess.java
!grammar/Process.java